<!-- <form method = "post", action="">
    Book_ID <input type="text" name ="book_id"/>
    <br>
    Title <input type="text" name="title"/>
    <br>
    Edition <input type="text" name="edition"/>
    <br>
    Copies <input type="text" name ="copies"/>
    <br>
    Availaibility <input type="bool" name="availaibility"/>
    <br>
    Author_ID <input type="text" name="author_id"/>
    <br>
    <input type="submit">
</form> -->

<form method="post" action="">
    Book ID <input type="text" name="book_id"><br>
    Title <input type="text" name="title"><br>
    Edition <input type="text" name="edition"><br>
    Copies <input type="text" name="copies"><br>
    Availaibility <input type="checkbox" name="Availability_status" value="1"><br>

    Author ID <input type="text" name="author_id"><br>
    <input type="submit">
</form>

