<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/sheet.css">
    <title>Library Users</title>
</head>
<body>
    <div class = "heading">Library Management System</div>
    <div class = "TableDiv">
        <table border="1" class="tables" >
            <tr>
                <td>UserID</td>
                <td>first_name</td>
                <td>middle_name</td>
                <td>end_name</td>
                <td>Contact</td>
            </tr>
            {% for user  in userDetails %}
            <tr>
                {% for i  in user %}
                
                <td>{{i}}</td>
                
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div class="Buttons">
        <button > <a class="btn"  href="/updateuser">Update Contact</a></button>
        <button ><a class="btn" href="/delete">DELETE</a></button>
        <button ><a class="btn" href="/rename">RENAME</a></button>
    </div>
    
</body>
</html>