<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/sheet.css">
    <title>Books</title>
</head>
<body class="backg">

    <div class = "heading">Library Management System</div>

    <div class = "TableDiv">
        <table border = 1 class="tables">
            <tr>
                <td>Booh_ID</td>
                <td>Title</td>
                <td>Edition</td>
                <td>Copies</td>
                <td>Availaibility</td>
                <td>Author_ID</td>
            </tr>
            {% for user  in userDetails %}
            <tr>
                {% for i  in user %}
                
                <td>{{i}}</td>
                
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div class="Buttons">
        <button ><a class="btn"  href="/add">INSERT</a></button>
        <button ><a class="btn"  href="/delete">DELETE</a></button>
    </div>
</body>
</html>